/* add font */
@font-face {
  font-family: IranSans;
  src: url("../fonts/IRANSansWeb_Medium.ttf");
}


/* change selection color */
::-moz-selection { /* Code for Firefox */
  color: #f5f5f5;
  background: #cf2e2e;
}

::selection {
  color: #f5f5f5;
  background: #cf2e2e;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IranSans";
}

nav {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
}

.main-list {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
  cursor: pointer;
}

.itemOne:hover {
  color: #cf2e2e;
}

.list-item1:hover .dropDown {
  display: block;
}

.list-item:hover .dropDown {
  display: block;
}

.arrow {
  border: solid #cf2e2e;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

nav li i {
  margin: 0 5px;
}

.dropDown {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.dropDown li {
  list-style: none;
}

.flex-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.border {
  background-color: red;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  display: inline-block;
  margin-left: 5px;
}

.list-hover li {
  list-style: none;
}

.list-hover li:hover {
  color: #cf2e2e;
  transition: 0.1s;
}

.listHover li:hover {
  color: #cf2e2e;
  transition: 0.1s;
}

.list-hover a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.list-hover {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 10px;
}

.list-group {
  margin: 0 10px;
}

.list-group2 {
  display: flex;
}

.dropDown2 {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  left: 20%;
}

.list-item2:hover .dropDown2 {
  display: block;
}

.dropDown1 {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  left: 10%;
}

.list-item1:hover .dropDown1 {
  display: block;
}

.banner1 {
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-right: 8.5rem;
}

.banner2 {
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-right: 8.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  background-color: #252627;
}

.banner3 {
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-right: 8.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: #252627;
}

.banner4 {
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-right: 8.5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  background-color: #252627;
}

.items{
  width: 80%;
  position: relative;
  margin-top: 20px;
  margin-right: 8.5rem;
}


.banner-cover2 {
  width: 45%;
}

.banner-cover3 {
  width: 45%;
}

.banner-cover4 {
  width: 45%;
}

.banner1 img {
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.box-banner1 {
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  top: 150px;
  right: 100px;
  background-color: #f4f4f4;
  width: 300px;
  height: 300px;
}

.box-banner1 h2 {
  margin-top: 30px;
}

.box-banner1 p {
  margin-top: 30px;
  font-size: 19px;
}

.box-banner1 button {
  margin-top: 35px;
  border: none;
}

.box-banner1 a {
  text-decoration: none;
  color: #f5f5f5;
  background-color: #007aff;
  padding: 15px;
  font-size: 17px;
  border-radius: 10px;
  font-family: "IranSans";
}

.arrowLeft {
  border: solid #f5f5f5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.Left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.white {
  color: #f5f5f5;
  margin-top: 25px;
}

.link-banner {
  color: #f5f5f5;
  text-decoration: none;
  margin-top: 40px;
  display: inline-block;
}

.box-banner2{
  padding: 20px;
}

.box-banner4{
  padding: 20px;
}

.box-banner3{
  padding: 20px;
  margin-right: 20px;
}

.box-banner3 h2 , p , a {
  text-align: start;
}

.box-banner3 h2 {
  font-size: 20px;
}

.box-banner3 a {
  margin-top: 20px;
  text-decoration: none;
  color: #f5f5f5;
  background-color: #007aff;
  padding: 15px;
  font-size: 17px;
  border-radius: 10px;
  font-family: "IranSans";
}

.box-banner3 button {
  margin-top: 35px;
  border: none;
}


.banner2 , .banner3 , .banner4 {
  border-radius: 5px;
}

.banner2 img , .banner3 img , .banner4 img {
  border-radius: 5px;
}

